# Ignore Visual Studio Solution file (only on local files)
#*.sln

[bB]in/**/*
[oO]bj/**/*

.vs/

# Ignore Obsidian workspace file (local)
.obsidian/workspace
!.obsidian/app.json


# Ignoring NuGet.org package output
nuget/**/*
